@using Web_153504_Bagrovets.Domain.Entities;
@using Web_153504_Bagrovets_Lab1.Models;
@model ListModel<Web_153504_Bagrovets.Domain.Entities.Product>

@{
    ViewData["Title"] = "Product";
    var categories = ViewData["categories"] as List<Category>;
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    string? category = request.Query["category"].ToString();
    int prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages ? Model.TotalPages : Model.CurrentPage + 1;
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            @foreach (var cat in categories)
            {
                <li>
                    <a class="dropdown-item"
                       asp-controller="product"
                       asp-route-category="@cat.NormalizedName">
                        @cat.Name
                    </a>
                </li>

            }
            <li>
                <a class="dropdown-item"
                   asp-controller="product"
                   asp-route-category="">
                    All
                </a>
            </li>
        </ul>
    </div>


    <partial name="_CatalogPartial" />
</div>