<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/WebLabs_BSUIR_V02.styles.css" asp-append-
          version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">WebLabsV02</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Лб 1</a>
                <a class="nav-item nav-link" href="#">Каталог</a>
                <a class="nav-item nav-link" href="#">Администрирование</a>
            </div>
            <a href="#" class="navbar-text ms-auto">
                00,0 руб <i class="fa-solid fa-cart-shopping"></i> (0)
            </a>
            <div class="dropdown ms-4 nav-color">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    User@gmail.com
                    <img src="images/default-profile-picture.png" width="30"
                         alt="User" class="rounded nav-color" />
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <span class="dropdown-item-text">
                            <img src="images/default-profile-picture.png"
                                 width="50" alt="User" class="rounded" />
                            user@gmail.com
                        </span>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <li>
                        <form id="logoutForm" class="form-inline">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="footer fixed-bottom">
        <div class="container">
            <div class="navbar navbar-dark navbar-expand-md bg-dark">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram fa-2x"></i>
                    </a>

                    <a class="nav-item nav-link" href="https://web.telegram.org/k/">

                        <i class="fa-brands fa-telegram fa-2x"></i>
                    </a>

                    <a class="nav-item nav-link" href="http://www.linkedin.com">

                        <i class="fa-brands fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
